body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;
}


#header-bg {
    background-image: url(../images/header10.jpg);
    background-image: linear-gradient(rgba(0, 0, 0, 0.441), rgba(0, 0, 0, 0.753)), url("../images/header10.jpg");
    background-position: center;
    background-size: cover;
    height: 100vh;
    padding: 2rem 10rem;

}

#logo {
    text-decoration: none;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30pt;
    font-weight: bolder;

}

#navlinks {
    display: flex;
    justify-content: space-between;
}

.navitems:hover {
    color: rgb(0, 229, 255);

}

#ul-list {
    display: flex;
    gap: 30px;
    list-style: none;
}

.navitems {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

.btn {
    background-color: transparent;
    padding: 4px 20px;
    border-radius: 2rem;
    border: 2px solid white;
}

.btn a {
    text-decoration: none;
    color: white;
}

.headertext {
    color: white;
    font-size: 30px;
    margin-top: 10rem;
}

#toarrive {
    color: rgba(16, 161, 201, 0.637);
}

.about {
    margin: 5rem 12rem;
    display: flex;
    gap: 5rem;
}

.images {
    display: flex;
    justify-content: space-around;
    width: 40%;
    gap: 2rem;
}

.abouttext {
    width: 50%;
    font-size: 20px;
}

.images img {
    width: 80%;
    height: 60vh;
}

.abouttext h3 {
    color: rgb(0, 208, 255);
}

.abouttext h1 {
    font-size: 30px;
}

.btn2 {
    background-color: rgb(0, 195, 255);
    padding: 15px 30px;
    border-radius: 5rem;
    border: none;
    color: white;
}

.servebtn {
    text-align: center;
    margin-top: 30px;
}


.btn2 a {
    text-decoration: none;
    color: white;
    font-size: 20px;
}

.btn2:hover {
    background-color: aqua;
}

.serve {
    margin: 7rem 8rem;
}

.serveimages {
    display: flex;
    gap: 2rem;
}

.serveimages img {
    width: 80%;
    height: 50vh;
}

.serve p {
    line-height: 2;
}

.servetext {
    width: 80%;
    font-size: 18px;
}

.servetext h3 {
    color: rgb(0, 208, 255);
}

.serveimages a {
    text-decoration: none;
    color: rgb(0, 208, 255);
}

.videosection {
    height: 100vh;
    margin-left: 12px;
}

.footer {
    margin-top: 20%;
    background-color: rgb(49, 140, 140);
    display: flex;
    justify-content: space-around;
}

.footerdiv a {
    text-decoration: none;
    color:aqua;
}